.git
.github
.idea
.fleet
.nova
.vscode
.zed

.env
.env.*
!.env.example
!.env.docker.example

node_modules
vendor
public/build
public/hot
public/storage

storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail

database/*.sqlite
database/*.sqlite-*
*.tar
*.tar.gz
*.tgz
*.zip

tests
docs
release-assets
.phpunit.cache
.phpunit.result.cache
*.log
